strong {
  opacity: 0.7;
}

.treinos-class {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: 5rem auto 0 auto;
}


.treinos-class p {
  opacity: 0.6;
}
.treinos-class p:nth-last-child(2) {
  margin-bottom: 1.85rem;
}
.treinos p {
  opacity: 0.5;
  font-size: 1rem;
}
.treinos h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.treinos {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.treino {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.2fr;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.treino img {
  width: 60%;
  border-radius: 8px;
}

.treino a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 20px;
  color: white;
}
@media (max-width: 600px) {
  .treinos-class {
    width: 100vw;
  }
  .treinos {
    width: 100%;
    margin: 1.6rem auto 0 auto;
  }
  .treino{
    grid-template-columns: 1.4fr 2fr 0.6fr;
  }
  .treino img {
    width: 80%;
  }

  .treinos p {
    opacity: 0.5;
    font-size: 0.8rem;
  }
  .treinos h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  .treinos-class h1{
    width: 80%;
    margin: 0 auto;
  }
  
  .treinos-class p:nth-last-child(2) {
    opacity: 0.6;
    width: 80%;
    margin: 0 auto;
  }
}
