

.exercicios-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.treino-exercicios{
  display: flex;
  width: 60%;
  height: 60%;
}
.video{
  width: 100%;
  height: 100%;
}
.videoif{
  width: 100%;
  height: 100%;
}
.videos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: left;
  overflow:auto
}
.videos h2{
  font-size: 1.4rem;
  text-align: right;
  margin: 1rem;

}
.exercicios{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.exercicio{
  display: grid;
  grid-template-columns: 1.2fr 1.8fr 1fr;
  width: 100%;
  min-height: 5rem;
  border-radius: 20px;
  border: 1px solid rgba(219, 213, 213, 0.4);
  padding: 10px;
}
.tempo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempo p{
  font-size: 1.2rem;
}
.info-exercicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-exercicio h3{
  font-size: 1.1rem;
}
.info-exercicio span{
  font-size: 1rem;
  opacity: 0.6;
}
.play{
  display: flex;
  align-items: center;
  justify-content: center;
}
.exercicio span:nth-child(3){
  font-size: 30px;
  cursor: pointer;
}
@media (max-width:900px){
  
  .treino{
    width: 100%;
    height: 100%;
  }
  .treino-exercicios{
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .video{
    height: 50%;
  }
}
