*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  font-family:sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: inherit;
  text-decoration: none;
  margin-bottom: 10px;
}